<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="/webjars/jquery/3.3.1/jquery.js"></script>

<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row">
			<div class="col-md-6">
				<div class="pannel-group">
					<div class="panel panel-primary">

						<div class="panel-heading">
							<h1 class="panel-title">Error!</h1>
						</div>
						<div class="panel-body">
							<p th:text="${exception.getMessage()}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>