<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Show Recipe</title>

<script src="/webjars/jquery/3.3.1/jquery.js"></script>

<link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="pannel-group">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<a th:href="@{/index}">Main page</a>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title" th:text="${recipe.description}">Recipe
								Description Here!</h1>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3">
									<h5>Categories:</h5>
								</div>
								<div class="col-md-9">
									<ul>
										<li th:each="category : ${recipe.categories}" th:text="${category.description}">category</li>
									</ul>
								</div>
								<div class="col-md-6">
                                <img 
                                     th:src="@{'/recipe/image/ret/' + ${recipe.id}}"
                                     width="200" height="200">
                            </div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<h5>Prep Time:</h5>
								</div>
								<div class="col-md-3">
									<p th:text="${recipe.prepTime}"></p>
								</div>
								<div class="col-md-3">
									<h5>Difficulty:</h5>
								</div>
								<div class="col-md-3">
									<p th:text="${recipe.difficulty}">Easy</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<h5>Cooktime:</h5>
								</div>
								<div class="col-md-3">
									<p th:text="${recipe.cookTime}">30 min</p>
								</div>
								<div class="col-md-3">
									<h5>Servings:</h5>
								</div>
								<div class="col-md-3">
									<p th:text="${recipe.servings}">4</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<h5>Source:</h5>
								</div>
								<div class="col-md-3">
									<p th:text="${recipe.source}">30 min</p>
								</div>
								<div class="col-md-3">
									<h5>URL:</h5>
								</div>
								<div class="col-md-3">
									<p th:text="${recipe.url}">http://www.example.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title">Ingredients</h1>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<ul th:each="ingredient : ${recipe.ingredient}" >
										<li th:text="${ingredient.unitOfMessure.uom + ' ' +ingredient.description}">1 Teaspoon of Sugar</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title">Directions</h1>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<p th:text="${recipe.directions}">Directions</p>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title">Notes</h1>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<p th:text="${recipe.notes.text}">Notes</p>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<a th:href="@{/index}">Main page</a> <a th:href="@{'/recipe/update/'+${recipe.id}}">Update</a><a th:href="@{'/recipe/image/'+${recipe.id}}">Upload image</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>